/* przejrzane */
.seat-free {
  background: #3f9177;
  height: 30px;
  width: 30px;   
  display: inline-block;  
  border: 2px solid white;
  -webkit-box-shadow: -1px 7px 7px -1px rgba(255,255,255,1);
  -moz-box-shadow: -1px 7px 7px -1px rgba(255,255,255,1);
  box-shadow: -1px 7x 7px -1px rgba(255,255,255,1);

}

.screen {
  background: black;
  height: 30px;
  width: 300px;   
  display: inline-block;  
  border: 2px solid white;
  -webkit-box-shadow: -1px 7px 7px -1px rgba(255,255,255,1);
  -moz-box-shadow: -1px 7px 7px -1px rgba(255,255,255,1);
  box-shadow: -1px 7x 7px -1px rgba(255,255,255,1);

}
.seat-taken {
  background: gray;
  width: 30px;
  height: 30px;
  display: inline-block;  
  border: 2px solid white;
  -webkit-box-shadow: -1px 7px 7px -1px rgba(255,255,255,1);
  -moz-box-shadow: -1px 7px 7px -1px rgba(255,255,255,1);
  box-shadow: -1px 7x 7px -1px rgba(255,255,255,1);

}

.seat-reserved {
  background: blue;
  height: 30px;
  width: 30px;   
  display: inline-block;  
  -webkit-box-shadow: -1px 7px 7px -1px rgba(255,255,255,1);
  -moz-box-shadow: -1px 7px 7px -1px rgba(255,255,255,1);
  box-shadow: -1px 7x 7px -1px rgba(255,255,255,1);
}

.seat-free:hover{
  background: red;
}

.row-left{
  width: 40%;
  float: left;
  margin: auto;
  padding: auto;
}

.white{
  color:white;
  font-family: 'Courier New', Courier, monospace;
  size: 2px;
}

.info{
  border: 1px solid white;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 80px;
}

.line{
  display: inline-block;  
}

.seat-empty{
  height: 30px;
  width: 30px;
  display: inline-block;
  opacity: 0;
}

.reserve-btn {
  display: inline-block;
  padding: 15px 50px;
  position: relative;
  background: transparent;
  color: #fff;
  font-size: 18px;
  transition: .5s;
  line-height: 20px;
  border-radius: 3px;
  border: 1px solid red;
  font-family: Monte;
  font-weight: 400;
  text-decoration: none;
  margin-left: 50%;
  margin-top: 0.5%;
}

.reserve-btn:hover{
  color: rgba(240,5,5,1);
  -webkit-box-shadow: 0px 0px 58px -8px rgba(240,5,5,1);
  -moz-box-shadow: 0px 0px 58px -8px rgba(240,5,5,1);
  box-shadow: 0px 0px 58px -8px rgba(240,5,5,1);
}

.room-width{
  min-width: 800px;
}

@media screen and (max-width: 1479px) {
  .room-width{
    min-width: 800px;
  }
}