html{
  height: 100%;
  box-sizing: border-box;
}

body{
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
  background-color: black;
}

.App {
  text-align: center;
  background-color: black;
  height: 100%;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #85144B;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro{
  color: white;
  font-family: MonteBold;
  font-size: 50px;
}

.App-title {
  font-size: 50px;
 font-family: MonteBold;
 color: white;
}

.Movie-list {
  color: white;
  font-family: Monte;
  font-size: 10px;
  
}


.text-left{
  text-align: center;
}

.img__wrap {
  padding: 20px;
  text-align: center;
  position: relative;
  height: 300.89px;
  width: 203.66px;
  display: inline-block;
  -webkit-box-shadow: -1px 7px 73px -37px rgba(255,255,255,1);
  -moz-box-shadow: -1px 7px 73px -37px rgba(255,255,255,1);
  box-shadow: -1px 7px 73px -37px rgba(255,255,255,1);
}

.img__wrap p{
  position: relative;
  font-size:20px;
  font-family: Monte;
  top: -27px;
}

.img__description_layer {
  font-family: Monte;
  font-size: 30px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background:  linear-gradient(
    rgba(0, 0, 0, 0.7), 
    rgba(0, 0, 0, 0.7)
  );
  color: #fff;
  visibility: hidden;
  opacity: 0;
  align-items: center;
  justify-content: center;
  padding: 20px;
  /* transition effect. not necessary */
  transition: opacity .2s, visibility .2s;
}

.img__description_layer p{
 font-family: Monte;
 font-weight: 100;
 top: 35%;
}

.img__wrap:hover .img__description_layer {
  visibility: visible;
  opacity: 1;
}

.img__description {
  transition: .2s;
  transform: translateY(1em);
}

.img__wrap:hover .img__description {
  transform: translateY(0);
}

footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
 color: white;
  background-color: rgb(19, 18, 18);
  text-align: center;
}

.movie-picture img{
  width: 203.66px;
  height: 300.89px;
  position: relative;
  top: -10px;
}




@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@media screen and (max-width: 1479px) {
  .movie-picture img{
    width: 148.66px;
    height: 221.14px;
  }
  .img__wrap {
    padding: 20px;
    text-align: center;
    position: relative;
    height: 221.14px;
    width: 148.66px;
    display: inline-block;
    -webkit-box-shadow: -1px 7px 73px -37px rgba(255,255,255,1);
    -moz-box-shadow: -1px 7px 73px -37px rgba(255,255,255,1);
    box-shadow: -1px 7px 73px -37px rgba(255,255,255,1);
  }

  .img__wrap p{
    position: relative;
    font-size:15px;
    font-family: Monte;
    top: -27px;
  }
 
  }

  @media screen and (max-width: 1149px) {
    .movie-picture img{
      width: 253.66px;
      height: 350.89px;
    }
    .img__wrap {
      padding: 20px;
      text-align: center;
      position: relative;
      height: 350.89px;
      width: 253.66px;
      display: inline-block;
      -webkit-box-shadow: -1px 7px 73px -37px rgba(255,255,255,1);
      -moz-box-shadow: -1px 7px 73px -37px rgba(255,255,255,1);
      box-shadow: -1px 7px 73px -37px rgba(255,255,255,1);
    }
  
    .img__wrap p{
      position: relative;
      font-size:20px;
      font-family: Monte;
      top: -27px;
    }
   
    }


@font-face {
  font-family: 'Monte';
  font-weight: 500;
  src: url('../fonts/Montserrat-Regular.ttf');
}

@font-face {
  font-family: 'MonteBold';
  font-weight: 500;
  src: url('../fonts/Montserrat-Bold.ttf');
}




