body{
    overflow-x: hidden;
}

.reset-password-form{
    
    width: full;
    height: 35vh;
    color: white;
    background-color: #22292f;
}

.reset-password-description{
    text-align: center;
    color: white;
    font-size: x-large;
    font-family: Monte;
    padding: 3rem;

}

.reset-password-lab{
    font-family: Monte;
    display: block;
    font-size: medium;
    margin-bottom: .50rem;
    margin-left: 1rem;
}


.reset-password-input{

    display: block;
    width: 50%;
    height: 5vh;
    margin-bottom: .50rem;
    margin-left: 1rem;
    border-radius: 5px;
    border-width: 50%;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.reset-password-input:focus{
    border-style: solid;
    border-color: darkred;
    background-color: #ffe6e6;
}

.reset-password-actions{
    display: flex;
    justify-content:flex-end;
    padding-right: 40rem;


}

.reset-password-btn{
    width: 100px;
    height: 30px;
    background-color: red;
    color: white;
    font-weight: solid;
    border-radius: 5px;
    

}

.reset-password-btn:hover{
    background-color: darkred;
}