/* przejrzane */

.news-btn{
    /* display: block;
    position: absolute;
    top: 10px;
    left: 10px;
    color: white;
    font-family: Monte; */

    position: relative;
    font-family: Monte;
    font-size: 20px;
    top: 5px;
    color:white;
  }

  .mews-desc{
    padding: 50px 0;
    font-size: 25px;
    font-weight: 900;
    text-align: center;
    display: block;
  }
