/* przejrzane */
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-list {
    list-style-type: none;
    margin: 0;
    padding: 10px;
    top:66px;
    right:0px;
    width: 250px;
    background-color: #22292f;
    font-weight:normal;
    position: absolute;
    font-family: Monte;
    box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;

}
.dropdown-lists-elements a {
    color: white;
    text-decoration: none;
}
.dropdown-lists-elements {
    padding: 8px 5px;
    border-bottom: 1px solid #000000;
    text-align: center;
    font-size: 20px;
    font-family: Monte;
}

.dropdown-lists-elements:hover {
    background-color: #31383f;
}
