/* przejrzane */
.inner-details{    
    width: 70%;
    color: white;
    background-color: black;
    position: relative;
    font-family: Monte;
    bottom: 0;  
}

.profile{
    height:150px;
    text-align: center;
    color:white;
}

.username{
    font-size: 40px;
    position: absolute;
    top:60px;
    right: 70px;
    border-bottom: 1px solid red;
}

.menu-user{
    width: 100%;
    background-color: black;
    top: 0;
} 

.info-user{
  border: 1px solid white;
  margin-top: 20px;
  font-family: Monte;
  background: #2C2F33;
  text-align: center;
  color: white;
  font-size: 20px;
  font-family: Monte;  
  padding: 5px;
  /* margin-right: 150px;
  margin-left: 80px; */
}

.react-tabs {
    -webkit-tap-highlight-color: transparent;
  }
  
  .react-tabs__tab-list {    
    margin: 0 0 10px;
    padding: 0;
  }
  
  .react-tabs__tab {
    display: inline-block;
    border: 1px solid transparent;
    bottom: -1px;
    position: relative;
    list-style: none;
    padding: 10px 55px 10px 55px;
    cursor: pointer;
  }
  
  .react-tabs__tab--selected {
    border-bottom: red solid 1px;
    color: white;
  }
  
  .react-tabs__tab--disabled { 
    cursor: default;
  }
  
  .react-tabs__tab:focus {
    box-shadow: 0 0 5px hsl(208, 99%, 50%);
    border-color: hsl(208, 99%, 50%);
    outline: none;
  }
  
  .react-tabs__tab:focus:after {
    content: "";
    position: absolute;
    height: 5px;
    left: -4px;
    right: -4px;
    bottom: -5px;
    background: #fff;
  }
  
  .react-tabs__tab-panel {
    display: none;
  }
  
  .react-tabs__tab-panel--selected {
    display: inline-block;
  }
